.navbar{
    display: flex;
    position: sticky;
    bottom: 0;

    client-link{
        flex-grow: 1;
        text-align: center;
        height: 40px;

        a{
            line-height: 40px;
            display: inline-block;
            width: 100%;
        }

        div {
            position: absolute;
            height: 40px;
            width: 50%;
        }

        .active {
            display: none;
        }

        .not-active {
            display: inherit;
        }

        &.active{

            .active {
                display: inherit;
            }

            .not-active {
                display: none;
            }

        }
    }
}